* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --text: rgba(255, 255, 255, 0.87);
  color: var(--text);

  --bg: #242424;
  background-color: var(--bg);

  --main: #42b883;
  --main-lighter: #35eb9a;

  @media (max-width: 800px) {
    background-color: #1a1a1a;
  }
}

a {
  font-weight: 500;
  color: var(--main);
  text-decoration: inherit;
}
a:hover {
  color: var(--main-lighter);
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

.box {
  border-radius: 8px;
  border: 1px solid var(--main);
  padding: 0.6em 1.2em;
  font-size: 1em;
  background-color: #1a1a1a;

  @media (max-width: 800px) {
    border-radius: 0;
    border: none;
    border-top: 1px solid var(--main);
    padding: 1.2em;

    &.first {
      border: none;
    }
  }
}

.box + .box {
  background-color: red !important;
}

.center-container {
  padding-top: 75px;
  display: flex;
  flex-grow: 1;
  min-height: 100vh;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  width: 100%;

  @media (max-width: 1000px) {
    padding-top: 155px;
  }
}
input {
  border-radius: 8px;
  padding: 0.6em;
  font-size: 1em;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #242424;
  color: inherit;
  cursor: pointer;
  transition: all 0.25s;
}
button:hover {
  background-color: var(--main);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;

  p {
    text-align: center;
  }
}

input {
  background-color: #242424;
  border: 1px solid var(--main);
  color: inherit;
}

input[type="file"] {
  background-color: transparent;
  border: none;
}
